.table {
  display: table;
  width: 100%;
  text-align: left;
  border-radius: 2px 2px 0 0;
  /* border-collapse: separate; */
  border-spacing: 0;
  
}

.thead {
    display: table-header-group;
    vertical-align: middle;
    background: #fafafa;
    border-radius: 12px;
    border-bottom:1px solid #bbb; 
    /* border-color: #333; */
}

.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.th {
  padding: 8px 8px;
}
.td {
  padding: 8px 8px;
}

.center{
text-align: center;
}

.resizable{
  position:relative;

}

.resizer{
position: absolute;
right: 0;
top: 0;
bottom: 0;
width: 1px;
height: 100%;
background: #bbb;
}

.resizer:hover{
  width: 2px;
  background: darkblue;
  cursor:col-resize
}